.head-container {
  align-items: center;
  background: rgba(73, 72, 72, 0.8);
  border-bottom: 3px solid #03e8f43b;
  box-shadow: 0 15px 25px #03e8f45b;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 20vh;
  justify-content: center;
  margin: auto;
}
.header {
  color: #fff;
  font-family: "Oswald", sans;
  font-size: 4rem;
  font-weight: normal;
  line-height: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 400px;
}
.search-container {
  border-radius: 40px;
  /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3); */
  margin: 36px auto;
  margin-top: 10vh;
  max-width: 300px;
  width: 75%;
}
.search-label {
  position: relative;
}
.search-container input {
  border: none;
  border-radius: 40px;
  box-sizing: border-box;
  color: #444;
  font-size: 16px;
  font-style: italic;
  outline: none;
  padding: 8px;
  width: 100%;
}
.search-icon {
  color: #555;
  font-size: 24px;
  position: absolute;
  top: -5px;
  right: 16px;
}

@media only screen and (max-width: 480px) {
  .head-container {
    height: 22vh;
  }
  .header {
    font-size: 2.5rem;
    text-align: center;
    width: 150px;
  }
}

