@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");

* {
  margin: 0;
}
body,
html {
  background-image: url("https://i.imgur.com/edZ1Vgt.jpg");
  background-attachment: fixed;
  background-size: auto 100%;
  background-position: center;
  font-family: "Roboto", sans-serif;
}
